@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">MediManager</h1>
    <p class="lead">Complete bussiness management application to provide hassel free operational process so you can spend more time on growth and expansion. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inventory Management</h2>
        <p>
            No need to check manually for products. All the available products just a click away.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Invoice generation</h2>
        <p>Integrated set of tools to generate invoice while giving flawless user experience by prefetching the data and thus minimal key strokes.</p>
    </div>
    <div class="col-md-4">
        <h2>Security Center</h2>
        <p>Take the control of your business application in your hands.</p>
    </div>
</div>